# Adding Modules to the Notebook

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/home/ahsan/Documents/66 Days of Data/Data/archive/COVID-19_Case_Surveillance_Public_Use_Data.csv")

/home/ahsan/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# First Five Rows

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405079 entries, 0 to 8405078
Data columns (total 11 columns):
 #   Column                         Dtype
---  ------                         -----
 0   cdc_report_dt                  object
 1   pos_spec_dt                    object
 2   onset_dt                       object
 3   current_status                 object
 4   sex                            object
 5   age_group                      object
 6   Race and ethnicity (combined)  object
 7   hosp_yn                        object
 8   icu_yn                         object
 9   death_yn                       object
 10  medcond_yn                     object
dtypes: object(11)
memory usage: 705.4+ MB

In [4]:
df.head()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/11/10,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Unknown,No,No
1,2020/11/14,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
2,2020/11/19,2020/11/10,2020/11/09,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
3,2020/11/14,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,No,Missing
4,2020/11/13,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,Yes

In [5]:
df.shape

(8405079, 11)

In [9]:
df.isna().sum().sort_values(ascending=False)

pos_spec_dt                      5534290
onset_dt                         4009122
age_group                             89
sex                                   18
Race and ethnicity (combined)          7
medcond_yn                             0
death_yn                               0
icu_yn                                 0
hosp_yn                                0
current_status                         0
cdc_report_dt                          0
dtype: int64

In [12]:
df.dropna(inplace=True)
df

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
1,2020/11/14,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
2,2020/11/19,2020/11/10,2020/11/09,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
4,2020/11/13,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,Yes
5,2020/11/17,2020/11/10,2020/11/08,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing
11,2020/11/09,2020/11/10,2020/11/09,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
7494726,2020/11/12,2020/12/01,2020/11/12,Laboratory-confirmed case,Female,20 - 29 Years,"White, Non-Hispanic",Unknown,Missing,Missing,Missing
7494727,2020/10/28,2020/12/01,2020/10/28,Laboratory-confirmed case,Male,20 - 29 Years,"White, Non-Hispanic",Unknown,Missing,Missing,Missing
7494728,2020/09/26,2020/12/01,2020/09/26,Laboratory-confirmed case,Male,20 - 29 Years,"White, Non-Hispanic",No,Missing,Missing,Missing
7494729,2020/09/18,2020/12/01,2020/09/18,Laboratory-confirmed case,Male,20 - 29 Years,"Black, Non-Hispanic",No,Missing,Missing,Missing
7494730,2020/11/14,2020/12/02,2020/11/14,Laboratory-confirmed case,Female,20 - 29 Years,"White, Non-Hispanic",No,No,No,Yes

In [17]:
df["pos_spec_dt"].value_counts()

2020/11/09    21470
2020/11/10    17924
2020/11/02    16676
2020/11/05    16344
2020/11/04    15578
              ...
2020/01/31        1
2020/01/03        1
2020/02/01        1
2020/01/01        1
2020/01/19        1
Name: pos_spec_dt, Length: 302, dtype: int64

In [18]:
df["onset_dt"].value_counts()

2020/11/09    15941
2020/11/02    15523
2020/11/04    15146
2020/11/03    14917
2020/11/06    14376
              ...
2020/01/16        2
2020/01/18        2
2020/12/02        1
2020/12/03        1
2020/01/08        1
Name: onset_dt, Length: 338, dtype: int64

In [19]:
df["current_status"].value_counts()

Laboratory-confirmed case    1359068
Probable Case                  27577
Name: current_status, dtype: int64

In [21]:
df["sex"].value_counts()

Female     732481
Male       645161
Unknown      7102
Missing      1849
Other          52
Name: sex, dtype: int64